#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0%;
}

#input textarea {
  width: 40em;
  height: 10em;
}

#input {
  display: grid;
  gap: 0.5em;
}

#input > span {
  justify-self: center;
  padding-bottom: 1em;
}

#result {
  text-align: start;
  display: grid;
  gap: 2em;
  justify-self: center;
}

#result p {
  width: auto;
  max-width: 40em;
  word-wrap: break-word;
  white-space: normal;
}

.instance {
  display: grid;
  grid-template-columns: auto auto;
  border: 2px solid grey;
  border-radius: 1em;
  padding: 1em;
}

.instance > h3 {
  text-align: start;
}

.instance > button {
  width: max-content;
  justify-self: end;
}

.vars {
  display: grid;
  gap: 0.5em;
}

.var {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  align-items: center;
}

#board {
  display: grid;
  gap: 1em;
}

#instances {
  display: grid;
  gap: 1em;
  user-select: none;
}

#App {
  display: grid;
  gap: 1em;
}

.instanceMenu {
  gap: 1em;
  display: flex;
  justify-content: space-between;
}

.copyBtn:active {
  background-color: white;
  color: black;
}
