#Page {
    display: grid;
    gap: 3em;
    max-width: 1280px;
    justify-content: center;
}

#Page #title {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    border-bottom: 1px solid transparent;
    padding: 0em 0.5em;
}

#Page #title input {
    background: inherit;
    border: none;
    border-bottom: 1px solid transparent;
    color: inherit;

    font-size: 1em;
    transition: 0.1s;
}
#Page #title input:is(:hover, :focus, :active) {
    border-bottom-color: white;
}
#Page #title input:is(:focus, :active) {
    border: none;
    outline: none;
    border-bottom: 1px solid;
}

#input textarea {
    width: 40em;
    height: 10em;
}

#input {
    display: grid;
    gap: 0.5em;
    justify-items: center;
}

#input .textareaExtras {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.textareaExtras button {
    padding: 0.4em 1em;
    display: grid;
}

#result {
    text-align: start;
    display: grid;
    gap: 2em;
    justify-self: center;
}

#result p {
    width: auto;
    max-width: 40em;
    word-wrap: break-word;
    white-space: normal;
}

.instance {
    display: grid;
    grid-template-columns: auto auto;
    border: 2px solid grey;
    border-radius: 1em;
    padding: 1em;
}

.instance > h3 {
    text-align: start;
}

.instance > button {
    width: max-content;
    justify-self: end;
}

.instance label {
    display: flex;
    grid-template-columns: auto 1fr auto;
    gap: 1em;
    padding: 0.3em;
}

.copy {
    border-radius: 0.25em;
    background-color: var(--bgCol);
    color: var(--col);
    --bgCol: inherit;
    --col: inherit;
}

.copy:active {
    --bgCol: cyan;
    --col: black;
}

.vars {
    display: grid;
    gap: 0.5em;
}

.var {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
}

#board {
    display: grid;
    gap: 1em;
}

#instances {
    display: grid;
    gap: 1em;
    user-select: none;
}

.instanceMenu {
    gap: 1em;
    display: flex;
    justify-content: space-between;
}

.copyBtn:active {
    background-color: white;
    color: black;
}
